@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
ul li{ list-style: none; cursor: pointer;}
.middle{
	width: 100%;
	margin-top: 10px;
}
.product{
	border: 1px solid #f4f4f4;
}
.product:hover{
	background-color:#FFFFF0 ;
}
.tip_quick{
	width: 30%;
	height: 15%;
	text-align: center;
}
.quick_link{
	#background-image: url("../images/login5.jpg");
	margin-top: 10px;
	margin-bottom: 10px;
	background-size: cover;
}

.bottomdiv{
	background-color: black;
	height: 10%;
	width: 100%;
}
.btmp {
	color: white;
	align-content: center;
	text-align: center;
}
.countPrice{
	width: 100%;
	height: 5%;
	background: #edcf1c;
}
.countPrice1{
	float: left;
}
.inCountPrice{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.shopCartContainer{
	width: 80%;
}
.notfound{
	align-content: center;
	text-align: center;
	#border: 1px solid;
}
.searchPdt{
	text-align: center
}
.divPage{
	text-align: center
}
.cT {
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	display: block;
	float: left;
}

.chooseType {
	width: 80%;
	margin: 2% auto;
	align-content: center;
	border: #0f0f0f 1px solid;

}
.chooseType a {
	outline: none;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
.chooBack{
	width: 100%;
	#background-image: url("../images/login4.jpg");
	background-size: contain;

}
.chooseType li{
	display: inline-block;
}
.chooseType a{
	color: #4cae4c;

}
.chooseType span{
	color: #edcf1c;
}
.priceRange li {
	width: 5%
}
.priceRange a{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.scoreRange li {
	width: 5%
}
.scoreRange a {
	width: 100%;
	display: inline-block;
	text-align: center;
	#background-color:#666666;
}
.chooseType a:active{
	background-color: #666666;
	border-radius: 25px;
}
.chooseType a:hover{
	background-color: #ADADAD;
	border-radius: 25px;
}
.bussName li{
	width: 5%;
}
.bussName a{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.restaurantName li{
	width: 7%;
}
.restaurantName a{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.proname{
	width:40%;
	#text-align: center;
}
.proname2{
	width: 40%;
	text-align: center;
}
.proprice{
	width: 13%;
	text-align: center;
}
.procounts{
	width: 9%;
	text-align: center;
}
.subtotal{
	width: 17%;
	text-align: center;
}
.deletepro{
	text-align: center;
}
.altcounts{
	display: inline-block;

}
.changenum{
	width: 30%;
	text-align: center;
}
.cartProImg{
	width: 10%;
	text-align: center;
}
.pro1{
	text-align: center;
}
.buyGoodsHead{
	margin: 0 auto;
	text-align: center;
}
.buyGoodsBody{
	margin: 0 auto;
	text-align: center;
}
.middle{
	#background-image: url("../images/back03.jpg");
	#background-size: cover;
}
.proimg{
    width: 60%;
    text-align: center;
    margin: auto auto;
}
#TableMain{
	width: 100%;
	height: auto;
}
.tableMain{
	width: 90%;
	position: relative;
	margin-left: 5%;
}
#TitleArea{
	#background: snow;
	height: 5%;
	width: 100%;
	text-align: center;
}
#mainArea{
	#background-color: #F2F2F2;
	width: 100%;
	height: 100%;
	#border: solid;
}
.onePage{
	#background-color: seashell;
	#border: solid;
	margin-left: 4%;
	height: auto;
	min-height: 500px;
	word-wrap: break-word;
	word-break: break-all;
    background-color: rgba(255,255,255,0.2);
}