@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("../images/personinfoback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.allInfo{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(102,175,233,0.2);
    #opacity: 0.2;
    font-size: large;
}
.newNickName{
    border-radius: 5%;
    border: 1px solid #31b0d5;
    background: rgba(255,255,255,0.1);
}
.newNickName:hover{
    outline:none;
    border-color:rgba(253,215,5,.75);
    box-shadow:0 0 10px rgba(253,215,5,.105);
    -moz-box-shadow:0 0 10px rgba(253,215,5,.5);
    -webkit-box-shadow:0 0 10px rgba(253,215,5,3);
}
.newNickName:focus{
    outline:none;
    border-color:rgba(253,215,5,.75);
    box-shadow:0 0 10px rgba(253,215,5,.105);
    -moz-box-shadow:0 0 10px rgba(253,215,5,.5);
    -webkit-box-shadow:0 0 10px rgba(253,215,5,3);
}
.changeNickName{
    background: rgba(255,255,255,0.5);
}
.oldPassword{
    border: 1px solid #31b0d5;
    background: rgba(255,255,255,0.1);
}
.oldPassword:hover{
    outline:none;
    border-color:rgba(253,215,5,.75);
    box-shadow:0 0 10px rgba(253,215,5,.105);
    -moz-box-shadow:0 0 10px rgba(253,215,5,.5);
    -webkit-box-shadow:0 0 10px rgba(253,215,5,3);
}
.oldPassword:focus{
    outline:none;
    border-color:rgba(253,215,5,.75);
    box-shadow:0 0 10px rgba(253,215,5,.105);
    -moz-box-shadow:0 0 10px rgba(253,215,5,.5);
    -webkit-box-shadow:0 0 10px rgba(253,215,5,3);
}
.newPassword{
    border: 1px solid #31b0d5;
    background: rgba(255,255,255,0.1);
}
.newPassword:hover{
    outline:none;
    border-color:rgba(253,215,5,.75);
    box-shadow:0 0 10px rgba(253,215,5,.105);
    -moz-box-shadow:0 0 10px rgba(253,215,5,.5);
    -webkit-box-shadow:0 0 10px rgba(253,215,5,3);
}
.newPassword:focus{
    outline:none;
    border-color:rgba(253,215,5,.75);
    box-shadow:0 0 10px rgba(253,215,5,.105);
    -moz-box-shadow:0 0 10px rgba(253,215,5,.5);
    -webkit-box-shadow:0 0 10px rgba(253,215,5,3);
}
.changePassword{
    background: rgba(255,255,255,0.5);
}
table{
    border-collapse:collapse;
    text-align: center;
    margin: 0 auto;
}
table,table td{border:1px solid #ddd} /*表格带线框,6像素的间距*/
table td{padding:6px}
