<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.AdminMapper">
    <resultMap id="AdminResult" type="cn.edu.henu.bean.Admin">
        <id property="admin_id" column="admin_id"/>
        <result property="admin_name" column="admin_name"/>
        <result property="admin_password" column="admin_password"/>
    </resultMap>

    <resultMap id="Student_examResult" type="cn.edu.henu.bean.Student_exam">
        <id property="student_exam_id" column="student_exam_id"/>
        <result property="student_exam_exam_id" column="student_exam_exam_id"/>
        <result property="student_exam_student_id" column="student_exam_student_id"/>
        <result property="student_exam_seat" column="student_exam_seat"/>
        <result property="student_exam_cheat_brief" column="student_exam_cheat_brief"/>
        <result property="student_exam_cheat_detail" column="student_exam_cheat_detail"/>
    </resultMap>

    <resultMap id="Teacher_examResult" type="cn.edu.henu.bean.Teacher_exam">
        <id property="teacher_exam_id" column="teacher_exam_id"/>
        <result property="teacher_exam_teacher_id" column="teacher_exam_teacher_id"/>
        <result property="teacher_exam_exam_id" column="teacher_exam_exam_id"/>
    </resultMap>

    <!--根据主键id查询管理员-->
    <select id="findByPrimaryKey" resultMap="AdminResult">
        select * from admin where admin_id = #{admin_id}
    </select>
    <!--更新管理员-->
    <update id="update" parameterType="cn.edu.henu.bean.Admin">
        update admin
        <set>
            <if test="admin_name != null and admin_name != '' ">
                admin_name = #{admin_name},
            </if>
            <if test="admin_password != null and admin_password != '' ">
                admin_password = #{admin_password},
            </if>
        </set>
        where admin_id = #{admin_id}
    </update>


</mapper>
